<script type="text/javascript" src="__PUBLIC__/Lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Lib/layer/3.0.3/layer.js"></script>
 
<script type="text/javascript" src="__PUBLIC__/Lib/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/Lib/ValidationEngine/js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="__PUBLIC__/Lib/ValidationEngine/js/jquery.validationEngine-zh_CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/Lib/laydate/laydate.js"></script>
