<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-tongji">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 3099数据<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:U('/Data/userList')}" title="3D饼状图">用户列表</a></li>
					<li><a href="{:U('/Data/gameList')}" title="3D饼状图">游戏列表</a></li>
					<li><a href="{:U('/Data/dataList')}" title="3D饼状图">数据统计</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 权限管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="{:U('/Admin/groupList')}" title="角色管理">角色管理</a></li>
					<li><a href="{:U('/Admin/ruleList')}" title="权限规则">权限规则</a></li>
					<li><a href="{:U('/Admin/adminList')}" title="管理员列表">管理员列表</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>